<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div data-ng-app="" data-ng-init="bldHeight=3;bldOffset=6;objOffset=5">

<h2>Cost Calculator</h2>

Building Height: <input type="number" ng-model="bldHeight">
Buidling Offset: <input type="number" ng-model="bldOffset">
Object Offset: <input type="number" ng-model="objOffset">


<p><b>Min Boom Length:</b> {{Math.sqrt(bldHeight + bldOffset)}}</p>

</div>

<!-- POSITIVE NUMBER EXAMPLE -->
<script type="text/javascript">
    document.write(Math.sqrt(2)); 
    document.write(Math.sqrt(2.56));          
</script>

</body>
</html>
