<h1>Select your tech skill</h1>

<form [formGroup]="myForm" (ngSubmit)="submit()" novalidate>

    <label for="technology">Technology</label>
    <div *ngFor="let tech of techStackList">
        <label>
            <input type="checkbox" [value]="tech.code" (change)="controlOnChange($event)"/>
            {{tech.name}}
        </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
<h4>No of Selected Technologies : {{selectedCheckboxes.length}} </h4>
<li *ngFor="let tech of selectedCheckboxes">{{tech}}</li>
