{{diagnostic}}


<div class="container">
  <h2> Offsets Calculator</h2>
  <form (ngSubmit)="onSubmit()" #boomCalcForm="ngForm">
    <div class="form-group">
    </div>
    <div class="form-group">
      <label class="labelleft">Min Boom Length</label>
      <label class="labelright">Crane base height</label>
      <!--<label >Min Boom Length</label><br>-->
      <input type="number" size="10" class="form-control inputleft" id="minBoomLength"
             required
             [(ngModel)]="model.minBoomLength" name="minBoomLength"
             #minBoomLength="ngModel">
      <input type="number" size="10" class="form-control inputright" id="craneBaseHeight"
             required
             [(ngModel)]="model.craneBaseHeight" name="craneBaseHeight"
             #craneBaseHeight="ngModel">
    </div><br>
    <div [hidden]="minBoomLength.valid || minBoomLength.pristine" class="alert alert-danger"> Boom length is required
    </div>
    <div>
      <label for="buildingHeight" class="labelleft">Building Height</label>
      <label for="buildingOffSet" class="labelright">Building Offset</label>
    </div>
    <div class="form-group">
      <input type="number" class="form-control inputleft" id="buildingHeight"
             required
             [(ngModel)]="model.buildingHeight" name="buildingHeight"
             #buildingHeight="ngModel">
      <input type="number" class="form-control inputright" id="buildingOffSet"
             required
             [(ngModel)]="model.buildingOffset" name="buildingOffSet"
             #buildingOffSet="ngModel">
    </div>
    <br>
    <div [hidden]="buildingHeight.valid || buildingHeight.pristine" class="alert alert-danger inputleft">  Height required </div>
    <div [hidden]="buildingOffSet.valid || buildingOffSet.pristine" class="alert alert-danger inputright">  Offset required </div>
    <div>
      <label class="labelleft">Object Offset</label>
      <label class="labelright">Boom angle (deg)</label>
    </div>
    <div class="form-group">
      <input type="number" class="form-control inputleft" id="objectOffset"
             readonly
             [(ngModel)]="model.objectOffsetStr" name="objectOffset"
             #objectOffset="ngModel">
      <input type="number" class="form-control inputright" id="boomAngle"
             readonly
             [(ngModel)]="model.boomAngleStr" name="boomAngle"
             #objectOffset="ngModel">
    </div>
    <br>
    <div>
      <input type="checkbox" name="jib" value="true"> Jib adjustment<br>
    </div>
    <div>
      <label class="labelleft">Jib Length </label>
      <label class="labelright">Jib offset (deg)</label>
    </div>
    <div class="form-group">
      <input type="number" class="form-control inputleft" id="jibLength"
             [(ngModel)]="model.jibLength" name="jibLength"
             #jibLength="ngModel">
      <input type="number" class="form-control inputright" id="jibAngle"
             [(ngModel)]="model.jibAngle" name="jibAngle"
             #jibAngle="ngModel">
    </div>
    <br>
    <div>
      <input type="checkbox" name="insert" value="true"> Insert adjustment<br>
    </div>
    <div>
      <label class="labelleft">Insert Qty </label>
      <label class="labelright">Insert Length (deg)</label>
    </div>
    <div class="form-group">
      <input type="number" class="form-control inputleft" id="insertQty"
             [(ngModel)]="model.insertQty" name="insertQty"
             #insertQty="ngModel">
      <input type="number" class="form-control inputright" id="insertLength"
             [(ngModel)]="model.insertLength" name="insertLength"
             #insertLength="ngModel">
    </div>
    <br>
    <div>
      <label class="labelleft">Overall Radius</label>
      <label class="labelright">Overall Boom Length</label>
    </div>
    <div class="form-group">
      <input type="text" class="form-control inputleft" id="overallRadius"
             readonly
             [(ngModel)]="model.overallRadiusStr" name="overallRadius"
             #objectOffset="ngModel">
      <input type="text" class="form-control inputright" id="overallOffset"
             readonly
             [(ngModel)]="model.overallBoomLengthStr" name="overallOffset"
             #objectOffset="ngModel">
    </div>

    <br>
    <section class="one">
      <button type="submit" class="btn btn-success">Calculate</button>
      <button type="button" class="btn btn-default" (click)="resetInput(); boomCalcForm.reset();">Clear inputs</button>
    </section>
  </form>
</div>
