{{diagnostic}}


<div class="container">
  <h1>Boom Offsets Calculator</h1>
  <form (ngSubmit)="onSubmit()" #boomCalcForm="ngForm">
    <div class="form-group">
    </div>
    <div class="form-group">
      <label for="minBoomLength">Min Boom Length</label>
      <input type="text" size="10" class="form-control" id="minBoomLength"
             required
             [(ngModel)]="model.minBoomLength" name="minBoomLength"
             #minBoomLength="ngModel">
    </div>
    <div [hidden]="minBoomLength.valid || minBoomLength.pristine" class="alert alert-danger"> Boom length is required
    </div>
    <div class="form-group">
      <label for="buildingHeight">Building Height</label>
      <input type="text" class="form-control" id="buildingHeight"
             required
             [(ngModel)]="model.buildingHeight" name="buildingHeight"
             #buildingHeight="ngModel">
    </div>
    <div [hidden]="buildingHeight.valid || buildingHeight.pristine" class="alert alert-danger"> Building height is
      required
    </div>
    <div class="form-group">
      <label for="buildingOffSet">Building Offset</label>
      <input type="text" class="form-control" id="buildingOffSet"
             required
             [(ngModel)]="model.buildingOffset" name="buildingOffSet"
             #buildingOffSet="ngModel">
    </div>
    <div [hidden]="buildingOffSet.valid || buildingOffSet.pristine" class="alert alert-danger"> Building offset is
      required
    </div>
    <div class="objectOffset">
      <label for="objectOffset">Object Offset</label>
      <input type="text" class="form-control" id="objectOffset"
             readonly
             [(ngModel)]="model.objectOffset" name="objectOffset"
             #objectOffset="ngModel">
    </div>
    <div class="boomAngle">
      <label for="boomAngle">Boom angle (deg)</label>
      <input type="text" class="form-control" id="boomAngle"
             readonly
             [(ngModel)]="model.boomAngle" name="boomAngle"
             #objectOffset="ngModel">
    </div>
    <br>
    <section class="one">
      <button type="submit" class="btn btn-success">Calculate</button>
      <button type="button" class="btn btn-default" (click)="resetInput(); boomCalcForm.reset();">Clear inputs</button>
    </section>
  </form>
</div>
